.btn-auth {
    background-color: #b97012;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    padding: 8px 16px;
    border: 1px solid black;
}
.btn-auth:hover {
    background-color: #f0f0f0;
    color: rgb(0, 0, 0);
    border: 1px solid black;
}

.blog-meta {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 20px;
    padding-bottom: 5px;
  }
  
  .blog-meta::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #f7c53a; /* warna kuning */
  }
  

h5.fw-bold {
    font-size: 24px;
    color: #040404;
    border-bottom: 3px solid #f7c53a;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
  

.blog-image {
    width: 80%;
    height: auto;
    border: 1px solid #ddd;
    display: block;
    margin: 0 auto;
  }

.image-caption {
  font-size: 0.85rem;
  color: #8a8a8a;
}

.blog-isi{
    font-size: 18px;
    font-weight: normal;
    text-align: justify ;
}

